@import url("https://fonts.googleapis.com/css2?family=family=Mooli&display=swap");
:root {
--primary-color: #52489c;
--secondary-color: #59c3c3;
--accent-color: #f45b69;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: Mooli, sans-serif;
}

*{
    box-sizing: border-box;
}

.hide{
    display: none;
}


body{
    font-family: var(--primary-font);
    font-size: 1.2em;
    background-color: #e6e3e3;
    margin: auto, 0;
    align-self: center;
    justify-content: center;
    text-align: center;
}

h1, h2{
    font-family: var(--secondary-font);
    margin: 0;
    font-size: 2em;
}

header, footer{
    background-color: var(--primary-color);
    color: var(--text-light);

}

nav >a {
display: flex;
flex-direction: column;
}

a:link,
a:visited {
  color: var(--text-light);

}

img {
	max-width: calc(100% - 10px);
    object-fit: cover;
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px gray;
    padding: 10px;

}

button{
    background: none;
    border: none;
    color: var(--text-light);
    font-size: 1.5em;
}

.viewer{
    display: grid;
    position: fixed;
    top:0;left:0;bottom:0;right:0;
    background-color: rgba(0, 0, 0, 0.75);;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 10;
    margin: 5%;

}

.close-view{
    grid-row: 1;
    grid-column: 2;
    font-size: large;
    color: rgb(193, 112, 193);
    align-self: self-end;
    justify-self: right;
}

.viewer img{
    max-height: 100%;
    grid-row: 2;
    grid-column: 2;
    padding: 10px;
}

@media screen and (min-width: 700px) {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

@media screen and (min-width: 1000px) {
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }
    nav{
        display: flex;
        flex-direction: row;
        gap: 10rem;
        justify-content: center;
    }
}

